h1 a {
    color: #FCA205;
    font-family: 'Aclonica';
}

.page-header {
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

.date {
    color: #828282;
    font-size: 17px;
    margin: 7px 10px;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 50px;
    border: dotted 1px black;
    border-radius: .6em;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
    margin: 20px;
    font-size: 40px;
}

.post p{
    font-size: 23px;
    margin-left: 15px;
}