{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
        <h1 class="text-capitalize text-center">{{ post.title }}</h1>
        <blockquote class="q">
            <p>{{ post.text|linebreaksbr }}</p>
        </blockquote>
    </div>
{% endblock %}

<!-- <div class="post">
        <div class="date">
            1 июля 2019 г. 18:00
        </div>
        <h1 class="text-center"><a href="/post/2/">two</a></h1>
        <blockquote class="q">
            <p>two write</p>
        </blockquote>
    </div> -->